/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
}

main {
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #0056b3;
}

/* Float Profile Image */
.profile {
    width: 150px;
    height: auto;
    float: right;
    margin-left: 20px;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Class Selector .box */
.box {
    clear: both;
    /* THIS FIXES THE OVERLAP with the profile picture */
    margin: 1rem auto;
    /* The 'auto' centers the box horizontally */
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

/* Aside Styling & Centering Map */
aside {
    width: 25rem;
    text-align: center;
    position: relative;
    /* Use 'auto' on left/right margins to center the aside */
    margin: 2rem auto;
}

aside img {
    width: 100%;
    height: auto;
    display: block;
}

/* Absolute Position Overlay */
aside h2 {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
}

footer {
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #000;
    padding: 1rem;
}